</body>
</html>
<script src="js/zepto.min.js"></script>
<script src="js/zepto.touch.js"></script>
<script src="js/TouchSlide.1.1.js"></script>
<% for(var i=0; i<jsSrc.length; i++) {%>
   <script src=<%= jsSrc[i] %>.js></script>
<% } %> 