<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>美妆优选</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
</head>
<body>
    <h2>您好，欢迎来到美妆优选，微信商城正在升级，敬请期待！</h2>

    <h3>微信用户信息</h3>
</body>
</html>