body{background: #f3f2f2;}
/*页头----个人中心、搜索、AD-BANNER*/
.header{
	background:-webkit-gradient(linear,left top,right bottom,from(#e86a48),to(#c5198a));
	background:-webkit-linear-gradient(0deg, #e86a48, #c5198a);
	height:43px;
}
/*首页导航*/
.layout_menu{display:-webkit-box;}
.layout_menu li{
	background: #fff;
	-webkit-box-flex:1;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 1.2rem;
}
.layout_menu .current{
	background: #ea4e57;
	border-radius: 10px;
	padding: 8px;
	color: #fff;
}
/*页尾*/
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
/*内容区域*/
.container{
	width: 100%;
	overflow: hidden;
	padding-bottom: 40px;
}
/*品牌街列表*/
.brand_street_list li{
	border:1px solid #d0cfcf;
	margin: 10px 5px;
	box-sizing:border-box;
}
.brand_street_list li:first-child{
	margin-top: 5px;
}
.brand_street_list li:last-child{
	margin-bottom: 5px;
}
.brand_street_list img,.brand_list img{
	width: 100%;
}
/*商品列表-品牌列表&新品首发*/
.brand_list{
	display: flex;
	flex-flow:row wrap;
}
.brand_list li{
	width: 50%; 
	padding: 3px 3px 0;
	box-sizing:border-box;
	display: flex;
	flex-flow:column;
}
.brand_list li:nth-child(odd){
	padding-right: 1.5px;
}
.brand_list li:nth-child(even){
	padding-left: 1.5px;
}
.brand_list .pic{
	display: block;
	border: 1px solid #dadada;
	border-bottom-color: #eeeeee;
}
.brand_list .title{
	background: #fff;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	border-bottom: 1px dashed #dadada;
	position: relative;
	color: #626d72;
	min-height: 36px;
	line-height: 18px;
	padding: 8px;
}
.brand_list .title:after,.brand_list .title:before{
	content: "";
	width: 4px;
	height: 8px;
	background: url(../images/icon_semicircle.png) no-repeat center center;
	background-size: 100%;
	position: absolute; 
	right: 0;
	bottom: -4px;
}
.brand_list .title:before{
	transform: rotate(180deg);
	right: auto;
	left: 0;
}
.brand_list .price,.brand_list .info{
	display: -webkit-flex;
	align-items:center;
	justify-content:space-between;
	border: 1px solid #dadada;
	border-width: 0 1px;
	background: #fff;
	padding: 3px 8px;
}
.brand_list .price{
	padding-top:8px;
}
.brand_list .info{
	padding-bottom:8px;
}
.price .discount{
	color: #f2744e;
}
.price .original{
	color: #aeb8bd;
	text-decoration: line-through;
}
.info .sales{
	color: #aeb8bd;	
}
.info .cart a{
	width: 45px;
	height: 23px;
	display: inline-block;
	background: url(../images/btn_cart.png) no-repeat center center;
	background-size: 100%;
}