body {
    font-size: 24px;
    color: #828f95;
    background-color: #f8f8f8;
}

.container{
    width: 100%;
    overflow: hidden;
    margin-bottom: 90px;
    font-weight: bold;
}

.addAddress{
    width: 100%;
    height: 100px;
    background-color: #556270;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.editAddress{
    color: #fff;
    background-color: #556270;
    padding-bottom: 20px;
}

.editAddress .errMsg{
    color: #f3416f;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
}

.completeAddress{
    position: relative;
    color: #fff;
    background-color: #556270;
    padding-bottom: 10px;
}

input{
    display: block;
    -webkit-box-flex: 1;
    color: #c2cacc;
    font-weight: bold;
    height: 30px;
    background-color: #556270;
    border: 0 none;
}

input:focus{
    outline: 0 none;
}

.editAddress .boxFlexWrapper{
    padding-top: 20px;
}

.completeAddress .boxFlexWrapper{
    padding-top: 10px;
}

.editAddress span, .completeAddress span{
    margin: 0 10px;
    width: 100px;
    border-right: 1px solid #c2cacc;
}

.completeBtn{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 60px auto 0;
    border: 1px solid #c2cacc;
    border-radius: 5px;
}

.editBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #c2cacc;
    border-radius: 3px;
}

.addBtn{
    display: inline-block;
    position: relative;
    top: 6px;
    width: 30px;
    height: 30px;
    background-image: url('../images/order_confirm_plus.png');
    background-size: cover;
    margin: auto 10px;
}

.goodsInfo{
    margin: 10px 5px;
    border: 1px solid #556270;
    background-color: #fff;
}

.topInfo{
    height: 50px;
    line-height: 50px;
    color: #160000;
    border-bottom: 1px solid #556270;
}

.goodsLogo{
    margin: 0 20px 0 10px;
}

.centerInfo{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: start;
    border-bottom: 1px solid #556270;
    font-size: 20px;
}

.centerInfo span{
    display: block;
}

.goodsImg{
    display: block;
    width: 150px;
    height: 150px;
    margin: 15px 15px 15px 5px;
    border: 1px solid #556270;
}

.introduceItem{
    margin-top: 15px;
    -webkit-box-flex: 1;
 }

.introduce{
    margin-bottom: 10px;
}

.category{
    color: #c3cbce;
    font-size: 16px;
 }

.priceItem{
    width: 80px;
    margin: 15px 0 0 15px;
}

.price{
    color: #53bff2;
}

.originalPrice{
    color: #c3cbce;
    text-decoration: line-through;
}

.courierItem, .integralItem, .countItem, .paymentItem{
    height: 60px;
    padding: 0 10px;
    -webkit-box-pack: justify;
    border-bottom: 1px solid #d0d0d0;
}

.countItem .countBtn{
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url('../images/order_confirm_cheng.png');
    background-size: cover;
    margin-right: 5px;
}

.countItem .count{
    display: inline-block;
}

.paymentItem{
    border: 0 none;
}

.paymentItem .payment{
    color: #53bff2;
}

.boxFlexWrapper{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}

.boxFlexWrapper span{
    display: block;
}

.payConfirm{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background-color: #e5e5e5;
    height: 80px;
}

.totalPrice {
    width: 165px;
    text-align: right;
    color: #c3cbce;
}

.payMoney{
    display: block;
    color: #f3416f;
}

.payBtn{
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 20px;
    top: 15px;
    text-align: center;
    background-color: #f3416f;
    font-size: 26px;
    color: #fff;
    border-radius: 5px;
}